.container {
    margin: 105px auto 0 auto;
}

.home-container {
    margin-top: 7rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.product-image {
    height: 700px;
    width: 600px;
}

a {
    text-decoration: none;
    color: black;
}

.link {
    color: white;
}

.indexedStep {
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indexedStep.accomplished {
    background-color: #0dba0d;
  }


